html{
    background-color: lightgray;
    color: #323232;
    font-family: Georgia, sans-serif;
}

article{
    margin: auto;
    width: 50%;
}

section{
    border-top: 2px black solid;
    text-align: justify;
}

header h1{
    font-size: 2ch;
}
