body{
    margin: auto;
    background-color: #FEFEFE;
}

/* HEADER */

header{
    position: sticky;
    display: block;
    width: 100%;
    font-family: 'Spectral SC', serif;
    padding: 0;
}

header ul{
    margin: auto;
    width: inherit;
    font-size: 0;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: #F2B632 solid 2px;
    padding: 0;
}

.drop{
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.drop .drop-title{
    width: 100%;
    display: block;
    font-size: 18px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.drop #home img{

    display: inline-block;
    width: 40%;
    object-fit: contain;
}

#home{
    width: 100%;
}

.drop:hover .drop-content{
    display: block;
}

i{
    vertical-align: middle;
}

.drop-content{
    display: none;
    width: 20%;
    position: absolute;
    padding: 0;
    background-color: #252839;
    border-top: #F2B632 solid 2px;
}

.drop-content a{
    font-size: 16px;
    padding-bottom: 4%;
    padding-top: 4%;
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: 2px solid #FEFEFE;
}

.drop-content a:last-child{
    border-bottom: 2px solid #F2B632;
}

.drop-content a:hover{
    background-color: #181a27;
}

.drop-content a:link{
    color: #FEFEFE;
}

.drop-content a:visited{
    color: #FEFEFE;
}

.drop-content a:active{
    color: #FEFEFE;
}

/* FOOTER */

footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #677077;
    display: block;
    width: 100%;
    color: #FEFEFE;

    /* Remove this when index is created */

}

footer div{
    width: 25%;
    margin-left: 1%;
    display: inline-block;
}

footer div div{
    width: 100%;
}


footer div div:first-child{
    border-bottom: #F2B632 2px solid;
}

footer div div:last-child{
    padding-top: 4%;
    padding-bottom: 4%;
}

footer div div h4{
    text-transform: uppercase;
}
/* added from form starts here */
#mArticle{
    display: grid;
    grid-template: 23% 23% 23% 23%;
    grid-gap:auto;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}
section p{
    display: grid;
    grid-column: 1 / span 2;
    font-family: 'Montserrat', sans-serif;
    font color: #252839;
    font-size: 18px;

}
section{
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid #252839;
}
#kInfo div{
    width: 47%;
    padding-top: 5%;
    display:block;
    background-color:  #252839;

}
section h3{
    display: inline;
}
