div .navigation li{
    position: relative;
    list-style: none;
    width: 100%;
    padding: 0.5em 0 0.5em 0;
    margin-top: 2%;
    display: inline-block;
    color: #252839;
    background-color:  #F2B632;
    border-bottom: 1px solid #252839;
    transition: all 0.5s;
    text-align: center;

}
div .navigation li:hover{
    transform: scale(1.1, 1.1);
}
div .navigation{
    position: relative;
    text-align: center;
    padding: 0;
    margin: auto;
    list-style: none;
}
#navigasjon{
    border-bottom: 0px;
}

#navigasjon>h3 {
    margin: auto;
    font-family: 'Spectral SC';
    display: block;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: 4px solid #F2B632;
    font-weight: normal;
    padding: 0.5em;
    height: 1.5em;
    text-align: center;
}
#tester{
    width: 100%;
    object-fit: cover;
    display: block;
