#Bforsidetekst {
    font-family: 'Spectral SC';
    color: #FEFEFE;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 40px;
}

#Bnærområde {
  width: 100%;
  object-fit: cover;
  display: block;
}
