@media screen and (max-device-width: 768px){
    /* For mobile phones: */
    [class*="cell"] {
        width: 100% !important;
    }

    #navDesktop{
        display: none !important;
    }

    #navMobile{
        display: block !important;
    }
}


#navMobile{
    width: 100%;
    display: none;
    height: 10em;
    background-color: #252839;
    border-bottom: 4px solid #F2B632;
    top: 0; 
    position: sticky;
    z-index: 5;
    
}

#navMobile>div{
    width: auto;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

#navMobile>div>i{
    vertical-align: middle;
    color: white;
    font-size: 10em;
}

#navMobile>a>img{
    object-fit: contain;
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    float: right;
}

#navMobile>.content{
    position: absolute;
    left: 0;
    top: 10em;
    background-color: #252839;
    color: white;
    display: none;
    width: 100%;
    padding: 0;
    border-bottom: 4px solid #F2B632;
    border-top: 4px solid #F2B632;

    height: auto;
    box-shadow: 0px 0px 5px black;
}

#navMobile>.content>div{
    width: 100%;
    text-transform: uppercase;
}

#navMobile>.content>div+div{
    border-top: 2px solid #FEFEFE;
}

#navMobile>.content>div>h3{
    font-family: 'Spectral SC';
    font-size: 4em;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
}

#navMobile>.content>div>h3>i{
    font-size: inherit;
}

#navMobile>.content>div>ul{
    border-top: 2px solid #FEFEFE;

    display: none;
    list-style: none;
    width: 100%;;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #181a27;
}

#navMobile>.content>div>ul>li{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 3em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-decoration: underline;
    margin: auto;
}

#navMobile>.content>div>ul>li+li{
    border-top: 2px solid #252839;
}

#navMobile>.content>div>ul>li:visited{
    color: white;
}

/* GENERAL */

body {
    margin: 0;
    background-color: #FEFEFE;
}
a:visited{
    color: inherit;
}

h2 {
    margin: auto;
    font-family: 'Spectral SC';
    display: block;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: 4px solid #F2B632;
    font-weight: normal;
    padding: 0.5em;
}

p {
    font-family: 'Montserrat';
    display: block;
    padding: 0.5em;
    margin: 0;
}

.list {
    font-family: 'Montserrat';
    list-style-type: disc;
    padding: 0;
    width: 100%;
}

.list,
.rowlist li {
    margin-left: 1.5em;
}

.rowlist {
    font-family: 'Montserrat';
    list-style-type: disc;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 23%;
}


article {
    margin: 1.5%;
    display: block;
}

/* CELLS */

.container {
    text-align: justify;
    display: block;
}

.container:after {
    content: ' ';
    width: 100%;
    display: inline-block;
}

.cell1,
.cell2,
.cell3,
.cell4 {
    display: inline-block;
    margin-bottom: 2em;
    border-bottom: 1px solid #252839;
    vertical-align: top;
}

.cell1 {
    width: 23%;
}

.cell2 {
    width: 48%;
}

.cell3 {
    width: 74%;

}

.cell4 {
    width: 100%;
}

/* HEADER */

#navDesktop {
    position: sticky;
    top: 0;
    display: block;
    width: 100%;
    font-family: 'Spectral SC', serif;
    padding: 0;
    z-index: 10;
}

#navDesktop ul {
    margin: auto;
    width: inherit;
    font-size: 0;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: #F2B632 solid 4px;
    padding: 0;
}

.drop {
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.drop .drop-title {
    width: 100%;
    display: block;
    font-size: 28px;
    margin-top: 2.4vh;
    margin-bottom: 2.4vh;
}

.drop #home img {
    display: inline-block;
    width: 40%;
    object-fit: contain;
}

#home {
    width: 100%;
}

.drop:hover .drop-content {
    display: block;
}

i {
    vertical-align: middle;
}

.drop-content {
    display: none;
    width: 20%;
    position: absolute;
    padding: 0;
    background-color: #252839;
    border-top: #F2B632 solid 4px;
}

.drop-content a {
    font-size: 20px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: 2px solid #FEFEFE;
}

.drop-content a:last-child {
    border-bottom: 4px solid #F2B632;
}

.drop-content a:hover {
    background-color: #181a27;
}

.drop-content a:link {
    color: #FEFEFE;
}

.drop-content a:visited {
    color: #FEFEFE;
}

.drop-content a:active {
    color: #FEFEFE;
}

/* FOOTER */

footer {
    font-family: 'Montserrat', sans-serif;
    background-color: #677077;
    display: block;
    width: 100%;
    color: #FEFEFE;
    margin-top: 5%;
}

footer div {
    width: 25%;
    margin-left: 2%;
    display: inline-block;
}

footer div div {
    width: 100%;
}

footer div div:first-child {
    border-bottom: #F2B632 2px solid;
}

footer div div:last-child {
    padding-top: 4%;
    padding-bottom: 4%;
}

footer div div h4 {
    text-transform: uppercase;
}

/*================*/
/* INDEX SPECIFIC */

/* COVER PHOTO */

#cover {
    text-align: center;
    background-color: #252839;
}

#cover>img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
    position: relative;
    padding: auto;

    animation: cLogo 2s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#cover>div {
    position: absolute;
    width: 100%;
    top: 300px;

    margin: auto;
    text-align: center;
    animation: Logo 2s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#cover>div>img {
    object-fit: contain;
    height: auto;
    margin: auto;
    width: 20%;
}

#cover>div>h1 {
    font-family: 'Spectral SC';
    color: #FEFEFE;
    text-transform: uppercase;
    font-weight: normal;
}


/*ABOUT*/

#about {
    margin: 0;
}

#about p {
    padding-top: 0;
}


/* CARDS */

.card {
    display: inline-block;
    transition: all 0.5s;
    border-bottom: none;
}

.card:hover {
    transform: scale(1.1, 1.1);
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 240px;
    display: block;
}

.card .title {
    text-transform: uppercase;
    font-family: 'Spectral SC';
    width: auto;
    display: block;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: 4px solid #F2B632;
    font-weight: normal;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-size: 1.4em;
}

.card .options {
    font-family: 'Montserrat';
    font-size: 1.2em;
    display: block;
    width: auto;
    text-decoration: none;
    list-style: none;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    border-bottom: 1px solid #252839;
}

.card .options:hover {
    background-color: #f1f1f1;
}

.card a {
    text-decoration: none;
    color: #252839;
}

.card a:visited {
    text-decoration: none;
}

/* FAMILY */

#family img {
    width: 100%;
    object-fit: cover;
    display: block;
}
/* Leiligheter ========================================*/
#praktiskList{
    margin-left:5%;
    column-count: 4;
    list-style-position: inside;
}
#qReference{
    border-bottom: none;
}
#qReference ul li{
    background-color: #F2B632;
    width: 100%;
    color: #252839;
    font-size: 15px;
    font-weight:bold;
    margin: 2% 0 0 0;
    padding: 0.5em 0 0.5em 0;
    text-align: center;
    list-style: none;
    border-bottom: 1px solid #252839;
    transition: all 0.5s;
}
a{
    text-decoration: none;
    color: black;
}
#qReference ul{
    list-style: none;
    padding: 0;
    margin:auto;
    text-align:center;
}
#qReference ul li:hover{
    transform: scale(1.1, 1.1);
}
#qReference h2{
    overflow: hidden;
}
.container .cell2 img{
    margin-top: 11%;
    width: 100%;

}

/*=============== */
/* ===LogoFade=== */
/*=============== */

@keyframes cLogo {
    from {
        opacity: 1;
        filter: blur(0px);
    }

    to {
        opacity: 0.7;
        filter: blur(5px);
    }
}

@keyframes Logo {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/*=============== */
/* =End LogoFade= */
/*=============== */