/* GENERAL */

body{
    margin: 0;
    background-color: #FEFEFE;
}

h2{
    margin: auto;
    font-family: 'Spectral SC';
    display: block;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: 2px solid #F2B632;
    font-weight: normal;
    padding: 0.5em;
    height: 1.5em;
}

p{
    font-family: 'Montserrat';
    display: block;
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px solid #252839;

}

article{
    margin: 2%;
    display: block;
    text-align: justify;
}

/* CELLS */

.cell1, .cell2, .cell3, .cell4{
    display: inline-block;
    margin-bottom: 2em;
}

.cell1{
    width: 23%;
}

.cell2{
    width: 48%;
}

.cell3{
    width: 74%;

}

.cell4{
    width: 100%;
}

/* HEADER */

header{
    position: sticky;
    top: 0;
    display: block;
    width: 100%;
    font-family: 'Spectral SC', serif;
    padding: 0;
    z-index: 10;
}

header ul{
    margin: auto;
    width: inherit;
    font-size: 0;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: #F2B632 solid 2px;
    padding: 0;
}

.drop{
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.drop .drop-title{
    width: 100%;
    display: block;
    font-size: 24px;
    margin-top: 6%;
    margin-bottom: 6%;
}

.drop #home img{
    display: inline-block;
    width: 40%;
    object-fit: contain;
}

#home{
    width: 100%;
}

.drop:hover .drop-content{
    display: block;
}

i{
    vertical-align: middle;
}

.drop-content{
    display: none;
    width: 20%;
    position: absolute;
    padding: 0;
    background-color: #252839;
    border-top: #F2B632 solid 2px;
}

.drop-content a{
    font-size: 20px;
    padding-bottom: 4%;
    padding-top: 4%;
    display: block;
    width: 100%;
    text-decoration: none;
    border-bottom: 2px solid #FEFEFE;
}

.drop-content a:last-child{
    border-bottom: 2px solid #F2B632;
}

.drop-content a:hover{
    background-color: #181a27;
}

.drop-content a:link{
    color: #FEFEFE;
}

.drop-content a:visited{
    color: #FEFEFE;
}

.drop-content a:active{
    color: #FEFEFE;
}

/* FOOTER */

footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #677077;
    display: block;
    width: 100%;
    color: #FEFEFE;
    margin-top: 5%;

    /* Remove this when index is created */

}

footer div{
    width: 25%;
    margin-left: 2%;
    display: inline-block;
}

footer div div{
    width: 100%;
}


footer div div:first-child{
    border-bottom: #F2B632 2px solid;
}

footer div div:last-child{
    padding-top: 4%;
    padding-bottom: 4%;
}

footer div div h4{
    text-transform: uppercase;
}

/*================*/
/* INDEX SPECIFIC */

/* COVER PHOTO */

#cover{
    text-align: center;
}

#cover img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    display: block;
    position: relative;
    padding: auto;
}

#cover div{
    position: absolute;
    width: 100%;
    top: 300px;

    margin: auto;
    text-align: center;
}
#cover div img{
    object-fit: contain;
    height: auto;
    margin:auto;
    width: 20%;
}

#cover div h1{
    font-family: 'Spectral SC';
    color: #FEFEFE;
}


/*ABOUT*/

#about{
    margin: 0;
}

#about p{
    padding-top: 0;
}


/* CARDS */

.card{
    display: inline-block;
    transition: all 0.5s;
    width: 100%;
}

.card:hover{
    transform: scale(1.1, 1.1);
}

.card img{
    object-fit: cover;
    width: 100%;
    height: 240px;
    display: block;
}

.card .title{
    text-transform: uppercase;
    font-family: 'Spectral SC';
    width: auto;
    display: block;
    background-color: #252839;
    color: #FEFEFE;
    border-bottom: 2px solid #F2B632;
    font-weight: normal;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    font-size: 1.4em;
}

.card .options{
    font-family: 'Montserrat';
    font-size: 1.2em;
    display: block;
    width: auto;
    text-decoration: none;
    list-style: none;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 2%;
    border-bottom: 1px solid #252839;
}

.card .options:hover{
    background-color: #f1f1f1;
}

.card a{
    text-decoration: none;
    color: #252839;
}

.card a:visited{
    text-decoration: none;
}

/* FAMILY */

#family{
    float: right;

}

#family img{
    width: 100%;
    object-fit: cover;
    display: block;
}
